//FONTS
@font-face {
	font-family: 'latoregular';
	src: url('./fonts/Lato/Lato-Regular.ttf');
	/* IE9 Compat Modes */
	src: url('./fonts/Lato/Lato-Regular.ttf') format('ttf'), /* Pretty Modern Browsers */
}
@font-face {
	font-family: 'latobold';
	src: url('./fonts/Lato/Lato-Bold.ttf');
	/* IE9 Compat Modes */
	src: url('./fonts/Lato/Lato-Bold.ttf') format('ttf'), /* Pretty Modern Browsers */
}
@font-face {
	font-family: 'montserrat';
	src: url('./fonts/montserrat/Montserrat-Bold.otf');
	/* IE9 Compat Modes */
	src: url('./fonts/montserrat/Montserrat-Bold.otf') format('otf'), /* Pretty Modern Browsers */
}
@font-face {
	font-family: 'montserratLight';
	src: url('./fonts/montserrat/Montserrat-Light.otf');
	/* IE9 Compat Modes */
	src: url('./fonts/montserrat/Montserrat-Light.otf') format('otf'), /* Pretty Modern Browsers */
}
/* Sticky footer styles
-------------------------------------------------- */
html {
	position: relative;
	min-height: 100%;
  }
  body {
	/* Margin bottom by footer height */
	margin-bottom: 60px;
  }
  .footer {

	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	line-height: 60px; /* Vertically center the text there */
	background-color:grey;
	color:rgba(19, 18, 18, 0.898);
  }
  
  
  /* Custom page CSS
  -------------------------------------------------- */
  /* Not required for template or sticky footer method. */
  
  body > .container {
	padding: 60px 15px 0;
  }
  
  .footer > .container {
	padding-right: 15px;
	padding-left: 15px;

  }
  
  code {
	font-size: 80%;
  }
  
  /* FORM VALIDATOR CSS
  -------------------------------------------------- */
  

  .error{
	border-color: red !important;
	background-color: #ffcccc!important;
}
.valid{
	border-color: green !important;
	background-color: #d6f5d6 !important;
  
}
.alert{
	margin-top:20px!important;
}
.error input+span:after {
	position: absolute;
	margin: 5px!important;
	top:0px;
	left:370px;
	background-color: #ffcccc;
	width: 20px;
	height: 40px !important;
	content: "" !important;
	background: url(unchecked.svg);
	background-repeat: no-repeat;
	background-size: contain;
}
.valid input+span:after{
	border-color: green !important;
	position: absolute;
	margin: 5px!important;
	top:0px;
	left:370px;
	width: 20px;
	height: 40px !important;
	content: "" !important;
	background: url(checked.svg);
	background-repeat: no-repeat;
}


@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}
.acordion {
 @include box-shadow(0, 2px, 3px, rgba(187, 25, 25, 0.2));
}

.nav-bar-usuario{
	color:white !important;
	margin-left:3px;

}

.nav-bar-curso{
	color:white !important;
	margin-right: 10px;
}


.card-usuarios{
	margin:10px !important;
	&:hover {
		color:lightcoral;
	}
}

.zoom {
	transition: transform .2s; /* Animation */
	margin: 0 auto;
}

.zoom:hover {
	transform: scale(1.01); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
	box-shadow:
	1px 1px #53a7ea,
	2px 2px #53a7ea,
	3px 3px #53a7ea;
-webkit-transform: translateX(-3px);
transform: translateX(-3px);
}

#myformlogin {
	background-color:lightgrey;
	padding:20px;
	border-radius:10px;
	margin-bottom:100px !important;
}

.login-box input:focus {
	outline: none;
	border-color: #665851;
	transition: 0.5s;
	color: #665851;
}
.box-header{
	font-family: 'Anton', sans-serif;
	color:red;
}

.card-usuarios-home{
	margin:5px !important;
	&:hover {
		color:lightcoral;
	}
}

.zoom-usuarios {
	transition: transform .2s; /* Animation */
	margin: 0 auto;
}

.zoom-usuarios:hover {
	transform: scale(1.02); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

#formInforme{
	margin: 5%;
}

#formInforme {
	margin: 5%!important;
	button{
	  margin:50px!important;
	}
  }

#mytable{
	.headeritem{
		color:red;
	}
}

/* =================================================================  */
#myProgress {
  width: 100%;
  background-color: #ddd;
}

#myBar {
  width: 10%;
  height: 30px;
  background-color: #4CAF50;
  text-align: center;
  line-height: 30px;
  color: white;
}

.crear-btn{
	background: rgba(248,80,50,1);
	/* Old Browsers */background: -moz-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 48%, rgba(237,0,32,1) 73%, rgba(240,47,23,1) 85%, rgba(231,56,39,1) 100%);
	 /* FF3.6+ */background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(248,80,50,1)), color-stop(48%, rgba(241,111,92,1)), color-stop(73%, rgba(237,0,32,1)), color-stop(85%, rgba(240,47,23,1)), color-stop(100%, rgba(231,56,39,1)));
	/* Chrome, Safari4+ */background: -webkit-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 48%, rgba(237,0,32,1) 73%, rgba(240,47,23,1) 85%, rgba(231,56,39,1) 100%);
	 /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 48%, rgba(237,0,32,1) 73%, rgba(240,47,23,1) 85%, rgba(231,56,39,1) 100%);
	 /* Opera 11.10+ */background: -ms-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 48%, rgba(237,0,32,1) 73%, rgba(240,47,23,1) 85%, rgba(231,56,39,1) 100%);
	 /* IE 10+ */background: linear-gradient(to bottom, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 48%, rgba(237,0,32,1) 73%, rgba(240,47,23,1) 85%, rgba(231,56,39,1) 100%);
	/* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827', GradientType=0 );
	/* IE6-9 */
}
.crear-btn:hover{
	background: rgba(248,175,73,1);
	/* Old Browsers */background: -moz-linear-gradient(top, rgba(248,175,73,1) 0%, rgba(88,179,100,0.78) 71%, rgba(242,155,49,0.74) 85%, rgba(240,224,223,0.69) 100%);
	 /* FF3.6+ */background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(248,175,73,1)), color-stop(71%, rgba(88,179,100,0.78)), color-stop(85%, rgba(242,155,49,0.74)), color-stop(100%, rgba(240,224,223,0.69)));
	/* Chrome, Safari4+ */background: -webkit-linear-gradient(top, rgba(248,175,73,1) 0%, rgba(88,179,100,0.78) 71%, rgba(242,155,49,0.74) 85%, rgba(240,224,223,0.69) 100%);
	 /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(top, rgba(248,175,73,1) 0%, rgba(88,179,100,0.78) 71%, rgba(242,155,49,0.74) 85%, rgba(240,224,223,0.69) 100%);
	 /* Opera 11.10+ */background: -ms-linear-gradient(top, rgba(248,175,73,1) 0%, rgba(88,179,100,0.78) 71%, rgba(242,155,49,0.74) 85%, rgba(240,224,223,0.69) 100%);
	 /* IE 10+ */background: linear-gradient(to bottom, rgba(248,175,73,1) 0%, rgba(88,179,100,0.78) 71%, rgba(242,155,49,0.74) 85%, rgba(240,224,223,0.69) 100%);
	/* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8af49', endColorstr='#f0e0df', GradientType=0 );
	/* IE6-9 */
}

.mygradientcarditem{
	background: rgba(255,0,132,1);
	/* Old Browsers */background: -moz-linear-gradient(left, rgba(255,0,132,1) 0%, rgba(255,0,132,0.88) 15%, rgba(255,0,60,0.48) 63%, rgba(255,0,34,0.48) 80%);
	 /* FF3.6+ */background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,0,132,1)), color-stop(15%, rgba(255,0,132,0.88)), color-stop(63%, rgba(255,0,60,0.48)), color-stop(80%, rgba(255,0,34,0.48)));
	/* Chrome, Safari4+ */background: -webkit-linear-gradient(left, rgba(255,0,132,1) 0%, rgba(255,0,132,0.88) 15%, rgba(255,0,60,0.48) 63%, rgba(255,0,34,0.48) 80%);
	 /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(left, rgba(255,0,132,1) 0%, rgba(255,0,132,0.88) 15%, rgba(255,0,60,0.48) 63%, rgba(255,0,34,0.48) 80%);
	 /* Opera 11.10+ */background: -ms-linear-gradient(left, rgba(255,0,132,1) 0%, rgba(255,0,132,0.88) 15%, rgba(255,0,60,0.48) 63%, rgba(255,0,34,0.48) 80%);
	 /* IE 10+ */background: linear-gradient(to right, rgba(255,0,132,1) 0%, rgba(255,0,132,0.88) 15%, rgba(255,0,60,0.48) 63%, rgba(255,0,34,0.48) 80%);
	/* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0084', endColorstr='#ff0022', GradientType=1 );
	/* IE6-9 */
}